{%extends "page.html"%}
{%block title%}{{country.name}}{%endblock title%}
{%block content%}

<div class="grid_5">
<div id="map" style="margin-top:48px;height:480px"></div>
<div id="map-placeholder" style="margin-top:48px;height:480px"></div>
</div>
<div id="detail" class="grid_7">
<div id="content">
<div id="map2"></div>
<h1>The state of the Internet in <br/><span class="country">{{country.name}}</span>
</h1>
<div>
    <ul class="linkbar">
        <li>
            share:
            <ul class="links">
            	<!--
                <li>
                    <a href="#"><img src="/static/img/FB.png"/></a>
                </li>
                -->
                <li>
                    <a href="https://twitter.com/share?url=http%3A%2F%2Feuhackathon.chokepointproject.net%2F" target="_blank"><img src="/static/img/twitter.png"/></a>
                </li>
            </ul>
        </li>
        <li>
            follow:
            <ul class="links">
                <li>
                    <a href="http://www.facebook.com/ChokePointProject"><img src="/static/img/FB.png" target="_blank"/></a>
                </li>
                <li>
                    <a href="https://twitter.com/#!/ChokePointP"><img src="/static/img/twitter.png" target="_blank"/></a>
                </li>
                <li>
                    <a href="/feed/rss"><img src="/static/img/rss.png" target="_blank"/></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<hr class="thick"/>
<h2><a href="#" class="closed panel" id="connectivity">Connectivity Status</a></h2>
<div id="panel_connectivity" class="phidden">
<span style="float:right">
<a href="http://hollow-meadow-4829.heroku.com/country_measurements.json?country_code={{country.id |u%>">API</a>
</span>

<div>Based on <a href="http://www.measurementlab.net/" class="data-source" target="_blank">M-Lab</a> data</div>

{%if incident_count%}
<ul class="incident">
{% for incident in incidents %}
<li id="l{{incident.id}}"><a href="#" class="closed panel" id="{{incident.id}}"/><img src="/static/img/Icon_Attack_30px.png"/>
<span class="incident attack">
<span class="type">Blackout</span>
<span class="description">
{{incident.name}}
</span>
<span class="ts">{{incident.ts}}</span>
</span>
</a>
<div id="panel_{{incident.id}}" class="panel phidden">
{{incident.descr}} on {{incident.ts}}
</div>
</li>
{% endfor %}
</ul>
{%else%}
<div class="info">No connectivity incidents reported for {{country.name}}</div>
{%endif%}
</div>

<hr/>

<h2><a href="#" class="open panel" id="transparency">Transparency Data</a></h2>
<div id="panel_transparency" class="">
<span style="float:right">
<a class="link" href="http://hollow-meadow-4829.heroku.com/user_data_requests.json?country_code={{country.id |u%>">API</a>
</span>

<div>Based on <a href="http://www.google.com/transparencyreport/" class="data-source" target="_blank">Google Transparency Report</a> data</div>

{%if transparency_incident_count%}
<ul class="incident">
{% for incident in transparency_incidents %}
<li><a href="#" class="closed panel" id="<% $incident->id %>"/><img src="/static/img/restrictionBandwidth.png"/>
<span class="incident restriction">
<span class="type">Restriction</span>
<span class="description">
{{incident.name}}
</span>
<span class="ts">{{incident.ts}}</span>
</span>
</a>
<div id="panel_<% $incident->id %>" class="panel phidden">
{{incident.descr}}
</div>
</li>
{% endfor %}
</ul>
{%else%}
<div class="info">No censorship or user data disclosure incidents reported for {{country.name}}</div>
{%endif%}
</div>

<hr/>

<h2><a href="#" class="closed panel" id="circumvention">Currently Functioning Circumvention</a></h2>
<div id="panel_circumvention" class="phidden">
<strong>TOR VPN DNS PROXY</strong>
</div>

<hr/>

<h2><a href="#" class="closed panel" id="legislation">Current legislation</a>
    <ul class="inline linkbar">
        <li>
        Content:
        <ul class="links">
            <li>
                <a href="{{country.id %>/edit/legislation">Edit</a>
            </li>
            <li>
                <a href="{{country.id %>/history/legislation">History</a>
            </li>
        </ul>
    </ul>
</h2>
<div id="panel_legislation" class="phidden">
<div class="info">No legislation data for {{country.name}}</div>
</div>

<hr/>

<h2><a href="#" class="closed panel" id="lobbying">Lobbying activity</a>
    <ul class="inline linkbar">
        <li>
        Content:
        <ul class="links">
            <li>
                <a href="{{country.id %>/edit/lobbying">Edit</a>
            </li>
            <li>
                <a href="{{country.id %>/history/lobbying">History</a>
            </li>
        </ul>
    </ul>
</h2>
<div id="panel_lobbying" class="phidden">
<div class="info">No lobbying data for {{country.name}}</div>
</div>

</div>
</div>
<div class="clear">
</div>
<script type="text/javascript" src="/static/js/country-view.js"></script>
<script type="text/javascript">
	var feat = {%if features_json%}{{features_json|safe}}{%else%}{}{%endif%}; // <% JSON->new->encode(\@feature) %>;
	$(document).ready(function() {
		$('#map').stickyScroll({});
		setupMap({
			features : feat,
			api_key : '{{settings.CLOUDMADE_KEY}}',
			extent : [ {
				lat : {{country.bb_se_lat}},
				lon : {{country.bb_se_lon}}
			}, {
				lat : {{country.bb_nw_lat}},
				lon : {{country.bb_nw_lon}}
			} ]
		});
	});
</script>

{%endblock content%}